# Ignore backup folders
Neural_Stimulation/NeuralStimBoard-backups/
Neural_Stimulation/NeuralStimBoard.kicad_sym-backups/

# Ignore auto-saved files
Neural_Stimulation/#auto_saved_files#

# Ignore backup files
Neural_Stimulation/*.bak

# Ignore lock files
Neural_Stimulation/*.lck

# Optional: ignore any other unwanted files or directories
.DS_Store
